@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 100%;
}
.container{
    max-width: 1400px;
    width: 90%;
    margin: auto;
}
.section-padding{
    padding: 70px 0px;
}
.highlight{
   color: #FBA24F;
}
.btn{
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    text-decoration: none;
    color: #fff;
    padding: 24px 32px;
    border-radius: 100px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 600;
}
p{
    color: #828282;
    letter-spacing: -0.02em;
    line-height: 160%;
}
/* Hero Section Style */
.hero-wrapper,
.about-wrapper,
.recipies-items-wrapper,
.counter-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.hero-text{
    flex: 40%;
    margin: auto;
}
.hero-text h1 {
    font-size: 60px;
    line-height: 78px;
    letter-spacing: -0.032px;
    font-weight: 700;
    color: #575757;
    margin-bottom: 30px;
}
.hero-text p{
    font-size: 20px;
    margin-bottom: 60px;
}
.hero-img{
    flex: 60%;
}
/* About Me Area Style */
.about-me{
    background-image: url("../images/shapes/7.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
.about-img{
    flex: 50%;
    text-align: center;
}
.about-img img {
    width: 50%;
    margin-bottom: -4px;
}
.about-text{
    flex: 50%;
    margin: auto;
    padding: 0px 120px 0px 50px;
}
.about-text h3{
    color: #575757;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}
.about-text p{
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 28px;
}
/* My Recipies */
.my-recipies{
    padding-top: 70px;
}
.recipies-text{
    width: 700px;
    margin: auto;
    text-align: center;
}
.recipies-text h3{
    color: #575757;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}
.recipies{
    padding-bottom: 50px;
    padding-top: 30px;
}
.recipies-item{
    flex: 45%;
    margin: 0 1%;
    background-color: #fff;
    padding: 20px 20px 50px 20px;
    border-radius: 30px;
    box-shadow: 0px 10px 40px #ccc;
}
.recipies-item h3{
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.recipies-item p{
    margin-bottom: 20px;
}
.recipies-item a{
    text-decoration: none;
    color: #fff;
    background-color: #FBA24F;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
}
/* Counter Area */
.counter-wrapper{
    box-shadow: 0 10px 40px #ccc;
    padding: 50px 0px;
    border-radius: 20px;
}
.counter-item{
    flex: 1 1 400px;
    text-align: center;
}
/* Footer Area */
.footer-area{
    background-color: #0B0D17;
    padding: 50px 0px 100px;
}
.footer-content-wrapper{
    text-align: center;
}
.footer-content-wrapper h2{
    color: #575757;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}
.footer-content-wrapper p{
    color: #ccc;
}